.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
  margin-bottom: 20px;
}

.pages {
    width: 100px;
    display: flex;
    justify-content: space-between;
    color: #3737ff;
    text-decoration: underline;
}

.pages > span, .header {
    cursor: pointer;
}

.chosen {
    font-weight: bold;
    color: blue;
}

.firstCol{
  width: 35px;
}

.notFirstCol {
  width: 200px;
}

.filter {
  margin: 10px 0 20px 0;
  font-size: 13px;
  color: grey;
}

.filter > input {
  width: 250px;
  margin-right: 50px;
}

.filter > select {
  margin-left: 5px;
  outline: none;
}
